@{
    ViewBag.Title = "AnnualReview";
    Layout = "~/Views/Shared/ForeLayout.cshtml";
}

<script>

    function Upload() {

        window.location.href = '../Personal/AnnualReviewUpload';
    }

    var xa;

    $(function IndexAjax() {
        $.get('@Url.Action("AnnualReview1", "Personal")', {},//url: 获取服务器数据的地址 date:向服务器传递的参数 callback: 回调函数，在服务器响应后，页面更新前执行
            function (result) {
                $('#box1_k').empty();

                $.each(result.aa, function (Index, list) {
                    var a = ChangeDateFormat(list.ExamineTime);
                    $('#box1_k').append('<a href="../Personal/AnnualReviewDetail?ID='+list.ExamineID+'"><div class="row" style="margin-top: 10px;"><div class="col-xs-12 col-md-12" style="height: 34px; line-height: 34px; color: #000; font-size: 14px;">' + list.ExamineName + '</div><div class="col-xs-12 col-md-12" style="height: 34px; line-height: 34px; color: #000; font-size: 1.3rem;"><span>年审时间：' + a + '</span></div><div class="col-xs-12 col-md-12" style="border-bottom: 1px #ededed solid; margin: 0 auto; text-align: center;"></div></div></a>')

                })
            })
    })

        function UrlSearch() {
            var name, id;
            var str = location.href; //获取到整个地址
            var num = str.indexOf("?")
            str = str.substr(num + 1); //取得num+1后所有参数，这里的num+1是下标 str.substr(start [, length ]
            var arr = str.split("&"); //以&分割各个参数放到数组里
            for (var i = 0; i < arr.length; i++) {
                num = arr[i].indexOf("=");
                if (num > 0) {
                    id = arr[i].substring(0, num);
                    id = arr[i].substr(num + 1);
                    this[name] = id;
                    return id;
                }
            }
        }


        function ChangeDateFormat(jsondate) {
            jsondate = jsondate.replace("/Date(", "").replace(")/", "");
            if (jsondate.indexOf("+") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("+"));
            }

            else if (jsondate.indexOf("-") > 0) {
                jsondate = jsondate.substring(0, jsondate.indexOf("-"));
            }
            var date = new Date(parseInt(jsondate, 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        };

</script>


<div class="container-fluid">
    <div class="row xs" style="height: 50px;">
        <div class="bs-example bs-navbar-top-example" data-example-id="navbar-static-top">
            <nav class="navbar navbar-default navbar-static-top">
                <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
                <div class="container-fluid">
                    <div class="navbar-header" style="height: 50px;">
                        <div style="font-size: 16px; line-height: 50px;">
                            <a class="navbar-brand" href="../Personal/PersonalIndex"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                            <p style="text-align: center; width: 86%; height: 100%;">年审材料</p>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: #fff;">

    <div id="box1_k"></div>
</div>

<div class="col-xs-12 col-md-12" style="margin-top: 20px; padding: 0px;">
    <button type="button" class="btn_sure btn_PhoneOperation" onclick="Upload()">上 传</button>
</div>


<style>
    .btn_PhoneOperation {
        border: 0px;
        text-shadow: none;
        background: 0px;
        font-weight: 500;
        padding-left: 0px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        width: 100%;
        color: #999;
    }

    .btn_sure {
        text-shadow: none;
        background-color: #e64a4a;
        color: #fff;
        display: block;
        width: 98%;
        height: 3rem;
        font-size: 1.6rem;
        margin: 0 auto;
        text-align: center;
        border-radius: 2rem;
        margin-bottom: 1rem;
    }
</style>
