@{
    ViewBag.Title = "ForeExhibitionIndex";
    Layout = "~/Views/Shared/ForeLayout.cshtml";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/Content/JYF/style.css" rel="stylesheet" />    
<script src="~/Content/JYF/echo.min.js"></script>
<style>
    /*.img {
    width: 100%;
    height: 255px;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
}
img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
style="object-fit:cover;"
}*/

    *{ margin:0; padding:0; list-style:none;}
img{ background-repeat:no-repeat; background-position:center center; background-size:100%;}

</style>



<script>
    var result1;
    var pd = true;
    function IndexAjax() {
        $.get('@Url.Action("ForeExhibitionIndex1", "ForeExhibition")', { page: $('#pagenow').val() },//url: 获取服务器数据的地址 date:向服务器传递的参数 callback: 回调函数，在服务器响应后，页面更新前执行
            function (result) {
                result1 = result;
                $('#box1_k').empty();
                $.each(result.aa, function (Index, list) {
                    $('#box1_k').append('<div class="col-md-6 col-lg-3 grid-item"><div class="box-masonry"><a href="../ForeExhibition/ForeExhibitionDetail?ID=' + list.TradeID + '"><img src="../../Content/img/1px.gif" data-echo="' + list.TradeImg + '" class="img-responsive" style="width:100%;height:230px;"></a><div class="box-masonry-hover-text-header"><h5 style="height:30px;font-size:2.1rem;">' + list.TradeTitle + '</h5><div class="box-masonry-desription"><p>' + list.TradeInfo + '</p></div></div></div></div>')
                })
                if (result1.ItemNum == 0) {
                    $('#box1_k').append('<img src="../../Content/img/error1.jpg" class="img-responsive" style="margin:auto">')
                    $('#pda').hide();
                }
                else {
                    $('#pda').show();
                }
            })
    }

    $(function () {
        IndexAjax();

        echo.init();

        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight == scrollHeight) {
                if (pd == true) {
                    fenye();
                }
            }
        });

    })




    function fenye() {
        var num = $('#pagenow').val();
        num++;
        if (num * 10 >= result1.ItemNum) {
            $('#pda').hide();
            pd = false;
        }
        $('#pagenow').val(num);
        IndexAjax();
    }



</script>

@*    <div class="container-fluid">
                <div class="row xs" style="height: 61px;">
                    <div class="bs-example bs-navbar-top-example" data-example-id="navbar-static-top">
                        <nav class="navbar navbar-default navbar-static-top">
                            <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#"><span style="margin-left: 0px;"></span></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-8" aria-expanded="false" style="height: 1px;">
                                    <ul class="nav navbar-nav visible-xs-block visible-sm-block">
                                        <li><a href="../ForeExhibition/Login"  style="text-align:center;text-decoration:none"><span style="margin-left: 5px;">登录</span></a>
                                        <li><a href="../ForeExhibition/Register"  style="text-align:center;text-decoration:none"><span style="margin-left: 5px;">注册</span></a>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>*@

<div style="margin-bottom: 90px;">
<div id="box1_k">	<div class="loading">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div></div>
    <div id="pda" class="container-fluid">
    <div class="row" style="text-align: center">
            <div class="col-md-12  col-xs-12">
                <a id="pagedown" style="color:#999999";></a>
                <input type="text" name="page" id="pagenow" hidden="hidden" value="1" />
            </div>
        </div>
        </div>
</div>
